@page
@model Banks.Pages._App.Journals.Clean

<div class="row mt-5">
    <div class="col-12 px-3">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="col-12">
                        <button class="btn btn-primary px-5 text-center" type="submit">تمیز کردن عنوان ها</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>