@page
@using Entities
@model Banks.Pages._App.Index

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-md-3 sol-sm-12">
                        <div class="d-flex align-items-center mb-3">
                            <div>
                                <div class="icon-block icon-block-sm bg-dark icon-block-floating mr-2">
                                    <i class="fa fa-journal-whills"></i>
                                </div>
                            </div>
                            <span class="font-size-13">@Glossary.Journals</span>
                            <h2 class="mb-0 ml-auto font-weight-bold text-dark primary-font line-height-30">
                                @Model.Journals
                            </h2>
                        </div>
                    </div>

                    <div class="col-md-3 sol-sm-12">
                        <div class="d-flex align-items-center mb-3">
                            <div>
                                <div class="icon-block icon-block-sm bg-dark icon-block-floating mr-2">
                                    <i class="fa fa-users"></i>
                                </div>
                            </div>
                            <span class="font-size-13">@Glossary.Users</span>
                            <h2 class="mb-0 ml-auto font-weight-bold text-dark primary-font line-height-30">
                                @Model.Users
                            </h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>