@page
@model JournalBank.Pages._App.Users.Edit
@using Entities;
@{
}

<h1>@Glossary.Edit</h1>

<h4>@Glossary.User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User!.Id" />
            <div class="form-group">
                <label asp-for="User!.Title" class="control-label"></label>
                <input asp-for="User!.Title" class="form-control" />
                <span asp-validation-for="User!.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit"  class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
